@model Mvc_basic_1.Models.People
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<tr id="@("peopleId" + Model.Id)">
    <td>
        @Model.Name&nbsp;&nbsp;&nbsp;
    </td>
    <td> &nbsp;&nbsp;</td>
    <td>
        @Model.Country
    </td>
    <td>&nbsp;&nbsp;</td>
    <td>
        <a asp-controller="People" asp-action="Remove" asp-route-id="@Model.Id">Remove</a>
        <a data-target="modifyPerson" onclick="getPartialLink(event)" asp-controller="People" asp-action="PeopleRenamePartial" asp-route-id="@Model.Id">Rename</a>
    </td>
</tr>